body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    width: 70%;
    margin: 40px auto;
    padding: 30px 60px; /* Added padding on the left and right */
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 2.8em;
    font-weight: bold;
    color: #3b5998;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.2em;
    color: #666;
}

.social-media {
    margin-top: 15px;
}

.social-media a {
    text-decoration: none;
    color: #ffffff;
    background-color: #3b5998;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.social-media a:hover {
    background-color: #2d4373;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #3b5998;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section li {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.5;
    padding-left: 15px;
    position: relative;
}

.section li::before {
    content: "❖";
    color: #3b5998;
    position: absolute;
    left: 0;
    font-size: 1.2em;
}

/* Highlight Heading Style for all headings */
.highlight-heading {
    font-weight: bold;
    color: #3b5998; /* Dark blue color for emphasis */
    font-size: 1.3em; /* Slightly larger font size */
    text-transform: uppercase; /* Make text uppercase */
    letter-spacing: 0.5px; /* Add some spacing between letters */
    border-bottom: 2px solid #3b5998; /* Add an underline */
    padding-bottom: 2px; /* Add some space between text and underline */
    display: inline-block; /* Ensure the underline stays directly below the text */
}

.section ul li ul {
    list-style: disc;
    padding-left: 25px;
}

.section ul li ul li::before {
    content: "";
}



/* Add padding to the left of list items */
.section ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.5;
    padding-left: 30px; /* Increased padding on the left */
    position: relative;
}

.section ul li::before {
    content: "❖";
    color: #3b5998;
    position: absolute;
    left: 10px; /* Adjust the position of the bullet */
    font-size: 1.2em;
}

